.Drawing {
    display: flex;
    height: 80vh;
    min-width: fit-content;
      min-height: fit-content;
  }

  .DrawingSet {
    border: solid 2px;
  }

 div:has(> input#rc-editable-input-2), div:has(> input#rc-editable-input-4), div:has(> input#rc-editable-input-6), div:has(> input#rc-editable-input-8), .flexbox-fix
 {
  display: none !important;
 }