.Header{
    background-color: #39BDED;
    height: 10vh;
}
@font-face {
    font-family: 'aliens';
    src: local('aliens and cows_trial'), url('./fonts/aliensAndCows_trial.ttf') format('truetype');
  }

.Page-Title{
    color: white;
    padding-left: 20px;
    font-family: 'aliens';
    font-size: 50px;
    text-align: center;
}

